name: CI

on:
  push:
    branches: [ "*" ]
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - "docs/**"
      - ".readthedocs.yaml"
  pull_request:
    branches: [ "*" ]
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - "docs/**"
      - ".readthedocs.yaml"
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      publish:
        description: "Publish to PyPI"
        required: false
        type: boolean
        default: false

permissions:
  packages: write

env:
  PROJECT_NAME: "dxcam_cpp"
  USERNAME: ${{ github.repository_owner }}
  FEED_URL: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json,readwrite"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Add NuGet sources
        shell: pwsh
        run: |
          .$(."${{ env.VCPKG_ROOT }}/vcpkg" fetch nuget) `
            sources add `
            -Source "${{ env.FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.USERNAME }}" `
            -Password "${{ secrets.GITHUB_TOKEN }}"
          .$(."${{ env.VCPKG_ROOT }}/vcpkg" fetch nuget) `
            setapikey "${{ secrets.GITHUB_TOKEN }}" `
            -Source "${{ env.FEED_URL }}"

      - name: Configure CMake
        run: >-
          cmake
          -B ${{ github.workspace }}/build
          -G Ninja
          -DCMAKE_C_COMPILER="cl.exe"
          -DCMAKE_CXX_COMPILER="cl.exe"
          -DCMAKE_BUILD_TYPE="Release"
          -DCMAKE_TOOLCHAIN_FILE="${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake"
          -DX_VCPKG_APPLOCAL_DEPS_INSTALL:BOOL="ON"

      - name: Build
        run: cmake --build "${{ github.workspace }}/build" --config Release

      - name: Install
        run: cmake --install ${{ github.workspace }}/build --config Release

      - uses: actions/upload-artifact@v5
        with:
          name: ${{ env.PROJECT_NAME }}
          path: ${{ github.workspace }}/build/install

  build-wheels:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Add NuGet sources
        shell: pwsh
        run: |
          .$(."${{ env.VCPKG_ROOT }}/vcpkg" fetch nuget) `
            sources add `
            -Source "${{ env.FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.USERNAME }}" `
            -Password "${{ secrets.GITHUB_TOKEN }}"
          .$(."${{ env.VCPKG_ROOT }}/vcpkg" fetch nuget) `
            setapikey "${{ secrets.GITHUB_TOKEN }}" `
            -Source "${{ env.FEED_URL }}"

      - uses: astral-sh/setup-uv@v7

      - name: Build Python wheel
        uses: pypa/cibuildwheel@v3.3
        env:
          CMAKE_TOOLCHAIN_FILE: ${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake
          CMAKE_GENERATOR: Ninja

      - uses: actions/upload-artifact@v5
        with:
          name: ${{ env.PROJECT_NAME }}-wheels-python${{ matrix.python-version }}
          path: ${{ github.workspace }}/wheelhouse/*.whl

  upload_pypi:
    needs: [ build-wheels ]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    if: (github.event_name == 'release' && github.event.action == 'published') || github.event.inputs.publish == 'true'

    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: ${{ env.PROJECT_NAME }}-wheels-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
